/* contact us */
.forms_icon {
  height: 60px;
  min-width: 60px;
  background: #ffeff1;
  backdrop-filter: blur(38px);
}
.contact_form {
  padding: 16px;
}
.contact_form a:hover {
  font-weight: 700 !important;
}
.contact_form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--white);
  color: var(--black);
  backdrop-filter: blur(38px);
  padding: 6px 10px;
}
.contact_form input .form_dropwown {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background: var(--white, #fff) !important;
  backdrop-filter: blur(38px) !important;
  padding: 13px 16px;
}
.contact_form .form-select:focus {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact_form textarea {
  height: 116px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none !important;
  resize: none;
}

.dealer_btn {
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 44px;
}
.dealer_btn:hover {
  color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 44px;
  border: 0.863px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
.consumer_btn {
  padding: 8px 15px;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 44px;
  border: 0.863px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
.consumer_btn:hover {
  border: 1px solid transparent;
  color: var(--white);
  border-radius: 44px;
  background-color: var(--blue);
}
/* contact bg */
.contact_bg {
  background-image: url(./assets/images/webp/contactus_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* blog bg */
.blog_bg {
  background-image: url(./assets/images/webp/blog-bg-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* customised-soluction bg */
.Customised-soluction-bg {
  background-image: url(./assets/images/webp/customised-solution-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sustainability-bg {
  background-image: url(./assets/images/webp/sustainability-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 576px) {
  .contact_form input {
    padding: 10px 16px;
  }
  .related_blog_img {
    height: 95px !important;
    width: 95px !important;
  }
  .contact_form {
    padding: 34px;
  }
  .contact_form .form-select {
    padding: 10px 16px!important;
  }
  .dealer_btn {
    padding: 12px 35px;
  }
  .consumer_btn {
    padding: 12px 35px;
  }
}
.related_blog_img {
  height: 70px;
  width: 70px;
}
/* bloge window */
.bottom_para_bg {
  background: #e4e5ff;
}
.blog_bottom_border {
  border-bottom: 1.5px solid #cccccc;
}
.clr_black {
  color: #000;
}

/* greener product img */
.greener_product_img {
  max-height: 747px;
}
