body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.aboutus_bg{
  background-image: url(./assets/images/png/portal-check-car-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.feature_detail:hover svg.checkbox_svg path:nth-child(1) {
  opacity: 1;
}

.feature_detail:hover svg.checkbox_svg path:nth-child(1) {
  fill: #ec0927 !important;
}

.feature_detail:hover svg.checkbox_svg path:nth-child(2) {
  fill: white !important;
  opacity: 0.5 !important;
}