.Window-bg-img {
    background-image: url("../src/assets/images/webp/green-lamborghini.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feature_detail:hover svg.HeatShrinkage g path {
    fill: white !important;
}

@media (min-width:1200px) {
    .ps_xl_70 {
        padding-left: 70px !important;
    }
}